{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                    <li><a href="{% url 'home' %}">List Receipts</a></li>
                    <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                    <li><a href="{% url 'category_list' %}">List Categories</a></li>
                    <li><a href="{% url 'create_category' %}">Create Category</a></li>
                    <li><a href="{% url 'account_list' %}">List Accounts</a></li>
                    <li><a href="{% url 'create_account' %}">Create Account</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}

        <footer>Spend Manager v.0.0.1</footer>
    </body>
</html>
