{% extends 'base.html' %}

{% block title %}Receipts List{% endblock title %}

{% block content %}
    <main>
        <table>

            <tr>
                <th>Name</th><th>Number</th><th>Number of receipts</th>
            </tr>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td><td>{{ account.number }}</td><td>{{ account.receipts.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
